@using Tsa.CodingChallenge.Submissions.Core.Entities
@model Tsa.CodingChallenge.Submissions.Mvc.Models.SubmissionUploadViewModel

@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h2>Upload Submission for @Model.ProblemName</h2>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.FileUpload, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.FileUpload, new { @type = "file", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.FileUpload, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProgrammingLanguage, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select class="form-control" asp-for="ProgrammingLanguage" asp-items="Html.GetEnumSelectList(typeof(ProgrammingLanguage))"></select>
                @Html.ValidationMessageFor(model => model.ProgrammingLanguage, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Upload" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
